venv
# — игнорируются каталоги и файлы с именем venv.
venv/
# — игнорируется содержимое любого каталога с именем venv.
/debug.log
# — игнорируется debug.log в корне, но не в любом другом каталоге.
*.pyc
# — игнорируются все файлы с расширением .pyc.
*.log
 # — игнорируются все файлы с расширением .log.
!debug.log
 #— игнорируются все логи, кроме debug.log.
 *.pyo
 __pycache__/